
*{
    margin:0px;
    padding:0px;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
}
html,body{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}
nav{
    width: 100%;
    height: 75px;
    display: flex;
    justify-content: space-between;
    padding: 0px px;
    /* position:fixed;
    z-index: 1; */
    list-style-type: none;
    background-color: black;
    color: white;
    box-sizing: border-box;

}
nav li :hover{
border: 2px solbid white;
}

.image{
    height: auto;
    left: 0px;
    width: 100px;
    color: black;
}
.search{
    float: center;
    width: 60%;
}
input[type=text]{
    padding: 20px;
    margin-top: 13px;
    border: none;
    width: 90%;
    height: 10%;
}
.search button{
    padding: 20px;
    margin-top: 10px;
    color: aqua;
    border: none;
    cursor: pointer;
}
.menu {
    width: 100%;
   padding-top: 100px;
    padding: 2px;
    /* position: fixed; */
    list-style-type: none;
    background-color: rgb(5, 41, 75);
    display: flex;
}
.menu li{
padding: 10px;
}
.menu li a{
    color: white;
    text-decoration: none;
    padding: 10px;
}
.menu li:hover{
border: 2px solid white;
}
.shop{
    padding-left: 0px;
    padding-right: 0px;
    
}

.flex-container{
    width: 200%;
    height: auto;
    display: flex;
    margin: auto;
    padding-left: 05%;
    padding-right: 60%;
    /* background-image: url(prime.jpg); */
   
    
}
.flex-box{
    width: 300px;
    height: 300px;
   background: rgb(241, 236, 236);
   color: rgb(0, 0, 0);
  margin: 20px;
}
/* .carosel{
    width: 100%;
    height: auto;
    display: flex;
    margin: auto;
    margin: 10px;
}
.box{
    width: 95%;
    height: 350px;
    background: rgb(238, 236, 236);
    color: black;  
    padding-left: 30px;
} */
.container{
    width: 100%;
    height: auto;
    display: flex;
    margin: auto;
    padding-left: 10%;
    padding-right: 0%;
    
}
.flex-box{
    width: 500px;
    height: 400px;
   background: rgb(238, 236, 236);
   color: black;
  margin: 20px;
  font-style: normal;
  padding: 3px;
}
.flex-box img{
    max-width: 100%;
    max-height: 200%;
    align-content: auto;
    padding: 3px;
}

 .flex-box h6{
    color: rgb(7, 101, 129);
 }
 .flex-box h6:hover{
    color: rgb(214, 82, 82);
 }
 .carosel{
    width: 100%;
    height: auto;
    padding-left: 0%;
    padding-right: 10%;
 }
 .box{
    width: 300%;
    height: 200px;
    padding-left: 10%;
   background: rgb(238, 236, 236);
   color: black;
  margin: 20px;
  font-style: normal;
  padding: 3px; 
  padding-left: 0%;
 }
 .footer{
    width: 100%;
    height: 150px;
 }
 .footer1{
    width: 100%;
    height: 70%;
    background-color: rgb(238, 236, 236);
    color: black;
    text-align: center;
    padding-top: 20%;
 }
 .footer1 button{
    background-color: rgb(221, 221, 9);
    width: 25px;
 }
.footer1 h6{
    color: rgb(4, 108, 176);
}
.footer1 h6 :hover{
    color: rgb(150, 5, 5);
}